.navbar.navbar-light.navbar-default{
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(#000,.1);
}
.navbar-brand{
    img{
        margin-top: -3px;
    }
}
.navbar .nav-item .nav-link{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
    font-family: $default-font;
    &.btn{
        padding: 6px 15px 4px;
        position: relative;
        top:14px;
        font-weight:400;
        letter-spacing: 0px;
        font-size:.9rem;
        &.btn-primary{
            background-color: $skin-color;
            color: #fff!important;
            &:hover,&:focus,&:active{
                background-color: $skin-color;
                color: #fff;
                box-shadow: 0px 4px 7px rgba(#000,0.1);
            }
        }
    }
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $skin-color;
}
.navbar-nav{
    padding-right: 30px;
}
.navbar .container,.navbar .container-fluid{
    position: relative;
}
.search-nav{
    font-size:16px;
    position: absolute;
    right:15px;
    top:21px;
    a{
        color: #999;
    }
}
.top-search{
    position: absolute;
    right:0;
    top:0;
    width:100%;
    height:100%;
    background-color: transparent;
    z-index: 9;
    display:none;
    .input-group{
           position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    }
    .form-control{
        font-size: 13px;
        background-color: #fff;
        border:0px;
        position: absolute;
        height: 100%;
        width:100%;
    }
    .close-search{
        cursor: pointer;
        line-height: 1;
        border:0px;
            position: absolute;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 1rem;
    z-index:10;
    >i{
        line-height: 1;
        font-size:16px;
    }
    }
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.6);
    &:hover,&:focus{
        color: $skin-color;
    }
}
@media(min-width:992px){
    .navbar{
        padding: 0px;
    }
    .navbar .nav-item .nav-link{
        padding-left: .8rem;
        padding-right: .8rem;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }
    .navbar.navbar-default.navbar-transparent{
        background-color: transparent;
        box-shadow:none;
    }
    .navbar-transparent .navbar-brand{
        img{
            position: absolute;
            top:1.5rem;
            margin-top:0px;
            &.logo-scroll{
                opacity:0;
                visibility: hidden;
            }
        }
    }
    .navbar-light.navbar-transparent .navbar-nav .active>.nav-link, .navbar-light.navbar-transparent .navbar-nav .nav-link.active, .navbar-light.navbar-transparent .navbar-nav .nav-link.show, .navbar-light.navbar-transparent .navbar-nav .show>.nav-link{
        color: $skin-color;
    }

    .navbar-light.navbar-transparent .navbar-nav .nav-link,.navbar-light.navbar-transparent  .search-nav a{
        color: rgba(#fff,.8);
    }
    .navbar.navbar-default.navbar-transparent.shrink{
        background-color: #fff;
        box-shadow:0px 5px 20px rgba(#000,.1);
        .navbar-brand img.logo-scroll{
            opacity: 1;
            visibility: visible;
        }
        .navbar-brand img.logo-top{
            opacity:0;
            visibility: hidden;
        }
        .navbar-nav .nav-link,.search-nav a{
            color: rgba(#000,.6);
        }
    }
    .navbar-light.navbar-transparent.shrink .navbar-nav .active>.nav-link, .navbar-light.navbar-transparent.shrink .navbar-nav .nav-link.active, .navbar-light.navbar-transparent.shrink .navbar-nav .nav-link.show, .navbar-light.navbar-transparent.shrink .navbar-nav .show>.nav-link{
        color: $skin-color;
    }
}
